In [1]:
import numpy as np 
import math 
import pandas as pd

In [5]:
df = pd.read_csv('my_income.csv')

In [6]:
print(df)

        Name  Age  Incomes
0        Bob   27     7000
1    Michael   29    90000
2      Mohan   29    61000
3     Ismail   28    60000
4       Kory   42   150000
5     Gautam   39   155000
6      David   41   160000
7     Andewa   38   162000
8       Brad   36   156000
9   Angelina   35   130000
10    Donald   37   137000
11       Tom   26    45000
12   Androd    27    48000
13     Jerid   28    51000
14     Stark   29    49500
15    Ranbir   32    53000
16    Dipika   40    65000
17  Priyanka   41    63000
18      Nick   43    64000
19      Alia   39    80000
20       Sid   41    82000
21     Abdul   39    58000

In [8]:
data = df['Name']

In [9]:
print(data)

0          Bob
1      Michael
2        Mohan
3       Ismail
4         Kory
5       Gautam
6        David
7       Andewa
8         Brad
9     Angelina
10      Donald
11         Tom
12     Androd
13       Jerid
14       Stark
15      Ranbir
16      Dipika
17    Priyanka
18        Nick
19        Alia
20         Sid
21       Abdul
Name: Name, dtype: object